body {
    background-image: url("https://pm1.narvii.com/7178/98987e2376fbf18cb6a6d8cad83818b6c5c40bacr1-1192-1684v2_hq.jpg");
    background-repeat: no-repeat;
    background-position-x: 850px;
    background-position-y: 0px;
}